.mac-frame {
    position: relative;
    width: 100vw;
    margin: auto;
    background: url('assets/macintosh.png') no-repeat center/contain;
    aspect-ratio: 1;
}

.screen {
    position: absolute;
    overflow: hidden;
    top: 13%;
    left: 25%;
    width: 50.5%;
    height: 34%;
    padding: 10px;
    border-radius: 1vw;
    cursor: url('assets/cursor.png'), auto;
    background-color: #808080;
    background-image: repeating-conic-gradient(black 0% 25%, white 25% 50%);
    background-size: 2px 2px;
    image-rendering: pixelated;
    color: black;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.desktop-container {
    position: relative;
    height: calc(25vw);
}

.window {
    position: absolute;
    padding: 0;
    border: 0.15vw solid black;
    box-shadow: 0.12vw 0.12vw 0 black;
    margin: 0.5vw;
    width: 50%;
}

.desktop-container .window:nth-of-type(1) {
    top: -0.35vw;
    left: 0;
    z-index: 2;
}

.desktop-container .window:nth-of-type(2) {
    top: 11vw;
    left: 2vw;
    width: 20vw;
    z-index: 1;
}

.desktop-container .window:nth-of-type(3) {
    top: 16.5vw;
    left: 30vw;
    width: 15vw;
    z-index: 3;
}

.desktop-container .window:nth-of-type(4) {
    top: 0.05vw;
    left: 35vw;
    width: 12.5vw;
    z-index: 2;
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 0.15vw solid black;
    padding: 0.125vw;
    font-size: 1.2vw;
    font-weight: bold;
    position: relative;
    height: 1vw;
}

.title-left,
.title-right {
    flex: 1;
    height: 1vw;
    background: repeating-linear-gradient(to bottom, black 0 0.1vw, rgba(0,0,0,0) 0.1vw 0.2vw);
    margin: 0 0.12vw;
    margin-bottom: -0.2vh;
}

.title-text {
    white-space: nowrap;
}

.close-btn {
    width: 0.725vw;
    height: 0.725vw;
    border: 0.15vw solid black;
    background: white;
}

.content {
    padding: 0.65vw;
    background-color: white;
}

h1,
h2,
p {
    margin: 0.4vw 0;
}

h1 {
    font-size: 1.8vw;
}

h2 {
    font-size: 1.35vw;
}

p {
    font-size: 0.9vw;
}

.menu-bar {
    background: white;
    border-bottom: 0.15vw solid black;
    padding: 0.125vw;
    padding-bottom: 0;
    display: flex;
    gap: 1.2vw;
    font-weight: 600;
    font-size: 1.2vw;
}

.menu-item {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -0.125vw;
    background: white;
    border: 0.15vw solid black;
    list-style-type: none;
    margin: 0;
    padding: 0.25vw 0;
    min-width: 10vw;
    box-shadow: 0.12vw 0.12vw 0 black;
    z-index: 10;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    padding: 0.05vw 0.75vh;
    font-size: 1.2vw;
    white-space: nowrap;
}

.dropdown-menu li:not(.separator):not(.disabled):hover {
    background-color: black;
    color: white;
}

.dropdown-menu .separator {
    height: 0.15vw;
    background-color: #888;
    padding: 0;
    margin: 0.125vw 0;
}

.dropdown-menu .disabled {
    color: #888;
    pointer-events: none;
}

.shortcut {
    float: right;
    margin-left: 0.5vw;
}

.img-logo {
    margin-left: 1.65vw;
    margin-right: 0.5vw;
    width: 0.55vw;
    padding: 0;
}

.img-logo img {
    width: 1vw;
}

a {
    color: black;
    cursor: url('assets/cursor.png'), auto;
}

.pixel-border {
    border: 0.15vw solid black;
    padding: 0.4vw;
    margin-top: 0.35vw;
    box-shadow: 0.12vw 0.12vw 0 black;
}

.trash-bin {
    position: absolute;
    top: 25vw;
    right: 2.5vw;
    text-align: center;
}

.trash-bin img {
    width: 3.5vw;
}

.trash-bin p {
    background-color: white;
    margin: 0;
    font-size: 1vw;
    font-weight: bold;
}

.scrollable {
    max-height: 5vw;
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 1.75vw;
}

.scrollable::-webkit-scrollbar-track {
    border-left: 0.15vw solid black;
}

.scrollable::-webkit-scrollbar-thumb {
    background: white;
    border: 0.15vw solid black;
}

.scrollable::-webkit-scrollbar-button:single-button {
    display: block;
    height: 1.75vw;
    width: 1.75vw;
    border: 0.15vw solid black;
    background: white;
}

.scrollable::-webkit-scrollbar-button:single-button:vertical:decrement {
    background: white url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M6 2 L2 8 H10 Z' fill='black'/></svg>") no-repeat center;
}

.scrollable::-webkit-scrollbar-button:single-button:vertical:increment {
    background: white url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><path d='M6 10 L2 4 H10 Z' fill='black'/></svg>") no-repeat center;
}
